<!doctype html>
<html lang="en">
<head>{{ partial "header.html" . }}</head>
<body class="global-font">
  {{ partial "nav.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}
  {{- $instant := resources.Get "js/instantclick.js" }}
  <script src='{{ $instant.Permalink }}' integrity="{{ $instant.Data.Integrity }}" data-no-instant></script>
    <script data-no-instant>

    function utterances(index) {
        var discussion = document.getElementById('comments');
        if (!discussion) {
            return;
        }
        var script = document.createElement('script');
        script.src = 'https://utteranc.es/client.js';
        script.setAttribute('repo', 'danielecook/danielecook.com');
        script.setAttribute('issue-term', index);
        script.setAttribute('theme', 'github-light');
        script.setAttribute('crossorigin', 'anonymous');
        discussion.appendChild(script);
    }

    InstantClick.on('change', function() {
        utterances(location.pathname + location.search)
    });

    InstantClick.init();
    </script>
</body>
</html>